name: Crear ISO con bzImage existente

on:
  workflow_dispatch:

jobs:
  iso-from-bzimage:
    runs-on: ubuntu-latest

    steps:
    - name: Clonar CultraCore
      uses: actions/checkout@v3

    - name: Instalar dependencias
      run: |
        sudo apt update
        sudo apt install build-essential genisoimage gcc curl dpkg

    - name: Compilar init, shell y bootanim
      run: |
        mkdir -p system/bin
        gcc src/init.c -o system/bin/init
        gcc src/shell.c -o system/bin/shell
        gcc src/bootanim.c -o system/bin/bootanim

    - name: Crear estructura ISO
      run: |
        mkdir -p iso_root/boot
        mkdir -p iso_root/bin
        cp system/boot/bzImage iso_root/boot/
        cp system/bin/* iso_root/bin/
        echo "DEFAULT cultracore\nLABEL cultracore\n  KERNEL /boot/bzImage\n  APPEND init=/bin/init" > iso_root/isolinux.cfg

    - name: Obtener isolinux.bin desde paquete Debian
      run: |
        mkdir -p isolinux
